{ 
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-export-default-from"
  ],
  "presets": [
	  
    ["@babel/preset-env", {
      "useBuiltIns": false,
    }]
  ]
}